@model IEnumerable<ProgramControllerReel.Models.Programs>

@{
    ViewData["Title"] = "Index";
}

<h2>Program List</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProgramName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectDetails)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectOwner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create" >Create New</a>
</p>
