@model ProgramControllerReel.Models.Notes

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

<h3>Are you sure you want to delete @Html.DisplayFor(model => model.NoteTitle)?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoteTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoteTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoteContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoteContent)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-success" style="margin-bottom:2%; margin-left:2%" /> |
        <a asp-action="Index" class="btn btn-primary" style="margin-bottom:2%">Back to List</a>
    </form>
</div>
