@model ProgramControllerReel.Models.Notes

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<h2 style="background-color:#337ab7">@Html.DisplayFor(model => model.NoteTitle) CONTENT</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt style="font-size:20px">
            @Html.DisplayNameFor(model => model.NoteContent)
        </dt>
        <dd style="font-size:20px">
            @Html.DisplayFor(model => model.NoteContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoteTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoteTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success" style="margin-bottom:2%; margin-left:2%">Edit</a> |
    <a asp-action="Index" class="btn btn-primary" style="margin-bottom:2%" >Back to List</a>
</div>
